<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # HTTPS ve www yönlendirmesi
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} !^www\. [NC]
    RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # .html uzantılarını kaldırma
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^\.]+)$ $1.html [NC,L]

    # /index.html yerine /
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
    RewriteRule ^index\.html$ https://%{HTTP_HOST}/ [R=301,L]

    # 404 hata sayfası yönlendirmesi
    ErrorDocument 404 /index.html

    # Tüm istekleri index.html'ye yönlendirme
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.html?$1 [L,QSA]
</IfModule>
