:root {
    --main-bg-color: #181a1b; /* Ana arka plan rengi */
    --main-text-color: #e8e6e3; /* Ana metin rengi */
    --accent-color: #FB923C; /* Vurgu rengi */
    --hover-color: #eb9a3d; /* Üzerine gelindiğindeki arka plan rengi */
    --logo-shadow-color: rgba(252, 123, 3, 0.8); /* Logo gölge rengi */
    --button-bg-color: #b7541a; /* Buton arka plan rengi */
    --button-shadow-color: #bf730f; /* Buton gölge rengi */
    --logo-max-width: 55%; /* Logo maksimum genişliği */
    --logo-mobile-max-width: 35%; /* Logo mobil maksimum genişliği */
    --logo-margin-bottom: 0px; /* Logo ile başlık arasındaki mesafe */
    --title-margin-bottom: 10px; /* Başlık ile button arasındaki mesafe */
    --button-font-size: 1.875rem; /* Buton yazı font boyutu */
    --button-icon-spacing: 10px; /* Yazı ile icon arasındaki mesafe */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    text-align: center;
    vertical-align: middle;
    font-family: "gg sans", sans-serif, Arial;
    font-size: 2rem;
    padding: 10px;
}

.ip {
    font-size: 4rem;
    color: var(--accent-color);
    display: block;
}

.title {
    margin-bottom: var(--title-margin-bottom);
}

.logo {
    max-width: var(--logo-max-width);
    margin-bottom: var(--logo-margin-bottom);
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
    filter: drop-shadow(0 0 150px var(--logo-shadow-color));
    user-select: none;
}

.logo:hover {
    transform: scale(1.1);
}

.bottom-right {
    font-family: "gg sans", sans-serif, Arial;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: var(--main-text-color);
    cursor: pointer;
}

.button {
    display: inline-block;
    height: 48px;
    border-radius: 10px;
    background-color: var(--button-bg-color);
    box-shadow: 4px 7px 12px 0 var(--button-shadow-color);
    color: var(--main-text-color);
    font-size: var(--button-font-size);
    font-weight: 700;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border: none;
    user-select: none;
    text-decoration: none;
    padding-left: calc(40px + var(--button-icon-spacing));
    padding-right: 15px;
    background-image: url('./imgs/copy.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 24px;
    margin-top: 10px;
}

.button:hover {
    background-color: var(--hover-color);
}

@media only screen and (max-width: 800px) {
    .container {
        font-size: 1.5rem;
    }
    .logo {
        max-width: var(--logo-mobile-max-width);
    }
    .bottom-right {
        font-size: 1.0rem;
        bottom: 10px;
        right: 10px;
    }
    .button {
        font-size: 1.75rem;
        padding-left: calc(30px + var(--button-icon-spacing));
        padding-right: 20px;
    }
    .ip {
        font-size: 2.5rem;
    }
    .button {
        height: 40px;
        line-height: 40px;
        background-size: 20px;
        padding-left: calc(30px + var(--button-icon-spacing));
    }
}
